<div class="jumbotron">
    <h1>F# + Vega + MVC 5</h1>
    <p class="lead">
        Check vega editor <a href="/Editor">here</a>.
        Page about <a href="/Bar">bar</a> diagram.
    </p>
    <p>To learn more about ASP.NET MVC or Web API visit the <a href="http://go.microsoft.com/fwlink/?LinkId=301870">ASP.NET site</a>.</p>
    <p>To learn more about web programming in F# visit <a href="http://fsharp.org/webstacks/">fsharp.org</a></p>
</div>
